<div class="allContacts">
  <div class="display-contact" *ngFor="let aContact of contacts ">
    <h3>{{aContact.name}}</h3>
    <h4>{{aContact.email}}</h4>
    <h5>{{aContact.phoneNumber}}</h5>
    <img [src]="aContact.image"/>
  </div>
</div>

<div>
  <label for="contact-name">Contact Name:</label>
  <input #name type="text" [(ngModel)]="newContact.name">
</div>
<div>
  <label for="contact-email">Contact Email:</label>
  <input #email type="text" [(ngModel)]="newContact.email">
</div>
<div>
  <label for="contact-phone">Contact Phone:</label>
  <input #phone type="text" [(ngModel)]="newContact.phoneNumber">
</div>
<div>
  <label for="contact-image">Contact Image:</label>
  <input #image type="text" [(ngModel)]="newContact.image">
</div>
<form action="submit">
<button (click)="addContact()">Submit New Contact</button>
</form>
